* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  input,
  button,
  textarea {
    font-family: inherit;
  }
  input::-ms-clear {
    display: none;
  }
  button {
    cursor: pointer;
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li {
    list-style: none;
  }
  img {
    vertical-align: top;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color:black;
  }

  body._lock{
    overflow: hidden;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main{
    flex:1 1 auto;
}

[class*=__container]{
    max-width:1215px;
    margin:0 auto;
    padding:0 15px;
}

/*********************HEADER*******************/

.menu__icon,
.burger{
    display: none;
}

.header{
    background:black;
    padding: 46px 0 0 0;
}

.header__row{
    display:flex;
    align-items: center;
    gap: 20px;
}

.header__logo{
    flex: 1 1 auto;
}

.menu__list{
    display:flex;
    justify-content: center;
    gap:26px;
}

.menu__link__tel img{
    margin-top:2px;
}

.menu__link,
.menu__link__tel,
.header__btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color:white;
    transition: 0.3s ease;
}

.menu__link:hover{
    color:#FF18CC;
}

.header__btn{
    display: inline-block;
    border: 2px solid #FF18CC;
    border-radius: 15px;
    padding: 5px 9px 7px 9px ;
    box-shadow: 0px 0px 5px #FF18CC;
    transition: 0.3s ease;
}

.header__btn:hover{
    box-shadow: 0px 0px 10px #FF18CC;
    color:#fca5e7;
}

@media(max-width:846px){
    .burger{
        display: block;
    }

    .header{
        position:fixed;
        top:0;
        left:0;
        width:100%;
        z-index:10;
        padding:0;
    }

    .menu__list{
        flex-direction: column;
        align-items:center;
        min-width: 100%;
    }

    .header__container{
        min-height:70px;
    }

    .header__logo{
        padding-top:15px;
    }

    .header__logo img{
        max-width: 120px;
    }

    .menu__icon{
        z-index:5;
        display:block;
        position:relative;
        width:26px;
        height:16px;
        cursor: pointer;
        left:0;
        bottom:-6px;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after{
        left:0;
        position: absolute;
        height:10%;
        width:100%;
        transition: all 0.3s ease 0s;
        background:white;
    }
    
    .menu__icon::before,
    .menu__icon::after{
        content:"";
    }

    .menu__icon::before{
        top:0;
    }
    .menu__icon::after{
        bottom:0;
    }
    .menu__icon span{
        top:50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before{
        top:50%;
        transform:rotate(-45deg) translate(0,-50%);
    }

    .menu__icon._active::after{
        top:50%;
        transform:rotate(45deg) translate(0,50%);
     }

    .header__menu{
        position: fixed;
        z-index: -1;
        top:-100%;
        width: 100%;
        height: 100%;
        background: #000000;
        transition:top 0.3s ease 0s;
        overflow: auto;
        left:0;
     }

    .header__menu::before{
        content:"";
        position: fixed;
        top:0;
        left: 0;
        width:100%;
        background: #000000;
        height:70px;
        z-index: 50;
    }

    .header__menu._active{
        top:10px;
    } 

    .menu__item{
        padding-bottom:10px;
        border-bottom:1px solid rgba(255, 255, 255, 0.514);
        width: 95%;
        text-align: center;
    }

    .menu__list{
        flex-direction: column;
        gap:38px;
        padding:90px 0 0 0 ;
    }

    .menu__link{
        font-size: 18px;
    }

    .header__btn{
        display: none;
    }
}

/***********************MUSIC************************/

.music{
    background:url(img/bg-image.jpg) no-repeat;
    background-position: center 0;
    background-size: cover;
    padding:200px 0 65px 0;
    color:white;
}

.music__tilte{
    font-weight: 700;
    font-size: 64px;
    line-height: 69px;
    max-width: 384px;
    margin: 0 0 36px 0;
    transform: translate(0px ,120%);
    opacity:0;
    transition:0.8s ease;
}

.music__tilte._view{
    transform: translate(0px ,0);
    opacity:1;
}

.music__text{
    font-size: 20px;
    line-height: 16px;
    margin:0 0 76px 0;
    opacity: 0;
    transform: translate(0px ,30px);
    transition:0.8s ease 0.5s;
}

.music__text._view{
    transform: translate(0px ,0);
    opacity:1;
}

.music__btn{
    display:flex;
    gap:9px;
    max-width:201px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4F34F3 -6.47%, #FF18CC 111.94%);
    box-shadow: 1px 1px 3px #FF18CC;
    border-radius: 10px;
    padding: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color:white;
    margin:0 0 225px 0;
    transition: all 0.8s ease 0.8s;
    transform: translate(0, 55px);
    opacity: 0
}

.music__btn._view{
    transform: translate(0, 0);
    opacity: 1
}

.music__btn:hover{
    box-shadow: 1px 1px 10px #FF18CC;
}

.music__down{
    display: flex;
    gap:6px;
    transform: translate(0, 50px);
    opacity: 0;
    transition: 0.8s ease 1.3s;
}

.music__down._view{
    transform: translate(0, 0px);
    opacity: 1;
}


@media(max-width:846px){
    .music{
        padding:200px 0 65px 0;
        margin-top:70px;
    } 
}

@media(max-width:456px){
    .music__tilte{
        font-size: 32px;
        line-height: 36px;
        margin: 0 0 13px 0
    }

    .music__text{
        font-size: 15px;
        line-height: 16px;
        margin:0 0 22px 0;
    }

    .music__down__text{
        font-size: 12px;
        line-height: 16px;
    }

    .music__btn{
        margin: 0 0 54px 0;
    }

    .music{
        padding:350px 0 40px 0;
    }

    .music__down{
        justify-content: center;
    }
}

/**********************************ABOUT***********************/

.about{
    padding: 81px 0 65px 0;
    background:white;
}

.title{
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 44px;
}

.about__title{
    margin: 0 0 15px 0;
    transform:translate(0,140%);
    opacity: 0;
    transition: 0.8s ease;
}

.about__title._view{
    transform:translate(0,0);
    opacity: 1;
}

.text{
    font-size: 20px;
    line-height: 33px;
    text-align: center;
}

.about__text{
    max-width: 920px;
    margin: 0 auto 15px auto;
    transform:translate(0,140%);
    opacity: 0;
    transition: 0.8s ease;
}

.about__text._view{
    transform:translate(0,0);
    opacity: 1;
}

.about__link{
    color: #FF18CC;
    display:block;
    max-width: 388px;
    margin: 0 auto 76px auto;
    transform:translate(0,80px);
    opacity: 0;
    transition: 0.8s ease 0.2s;
}

.about__link._view{
    transform:translate(0,0);
    opacity: 1;
}

.about__image{
    transform: scale(0);
    transition: 0.9s ease ;
}

.about__image._view{
    transform: scale(1);
}

.about__image img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
}


@media(max-width:456px){
    .about{
        padding:30px 0 27px;
    }

    .title{
        font-size: 20px;
        line-height: 44px;
    }

    .text{
        font-size: 14px;
        line-height: 25px;
    }

    .about__text{
        margin-bottom:25px;
    }

    .about__link{
        font-size: 14px;
        max-width: 265px;
        margin-bottom: 54px;
    }
}

/************************SCOPE*******************/

.scope{
    padding:65px 0;
}

.scope__title{
    margin-bottom:66px;
    transform: translate(0,140%);
    opacity: 0;
    transition: 0.8s ease;
}

.scope__title._view{
    transform: translate(0,0);
    opacity: 1;
}

.scope__item{
    display: flex;
    align-items:center;
    transform:scale(0);
    opacity: 0;
}

.scope__item:first-child{
    transition: 0.8s ease;
    gap:20px
}

.scope__item:nth-child(2){
    transition: 0.8s ease 0.1s;
    gap:20px
}

.scope__item:nth-child(3){
    transition: 0.8s ease 0.2s;
    gap:20px
}

.scope__item:nth-child(4){
    transition: 0.8s ease 0.4s;
    gap:20px
}

.scope__item:nth-child(5){
    transition: 0.8s ease 0.6s;
    gap:20px
}

.scope__item:nth-child(6){
    transition: 0.8s ease 0.8s;
    gap:20px
}

.scope__item._view{
    transform:scale(1);
    opacity: 1;
}

.scope__item img{
    max-width: 100%;
}

.scope__row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 75px;
    row-gap: 70px;
}

.scope__item__text{
    max-width: 245px;
}

@media(max-width:780px){
    .scope__item:nth-child(5){
        margin-left: -20px;
    }
}

@media(max-width:456px){
    .scope{
        padding:27px 0;
    }

    .scope__title{
        margin-bottom:54px;
    }

    .scope__item__text{
        font-size: 14px;
        line-height: 21px;
        max-width: 200px;
    }

    .scope__row{
        gap:20px;
    }

    .scope__item{
        max-width: 290px;
    }

    .scope__item img{
        max-width: 20%;
    }

    .scope__item:nth-child(5){
        margin-left: -30px;
    }
}

/********************PROPOZICION*******************/

.propozicion{
    padding: 65px 0 55px 0;
}

.propozicion__title{
    margin-bottom:77px;
    transform: translate(0,140%);
    opacity: 0;
    transition: 0.8s ease;
}

.propozicion__title._view{
    transform: translate(0,0);
    opacity: 1;
}

.propozicion__item{
    padding:30px;
    background: linear-gradient(180deg, rgba(79, 52, 243, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 340px;
}

.propozicion__item__title{
    font-size: 20px;
    line-height: 16px;
    margin: 0 0 30px 0;
}

.propozicion__item__text{
    font-size: 13px;
    line-height: 16px;
    color: #999999;
    margin: 0 0 10px 0;
}

.propozicion__item__menu{
    padding: 0 0 84px 0;
    border-bottom:1px solid #999999;
    margin: 0 0 30px 0;
}

.item__list{
    font-size: 14px;
    line-height: 16px;
    position:relative;
    margin:0 0 16px 0;
    padding-left:28px;
}

.item__list::before{
    content:"";
    position: absolute;
    height: 20px;
    width: 20px;
    background:url(img/prop.png) no-repeat;
    background-size:cover;
    background-position: center;
    left:0;
    top:-3px;
}

.propozicion__item__prise{
    font-size: 13px;
    line-height: 16px;  
    margin: auto 0 10px 0;
}

.propozicion__item__link{
    display: inline-block;
    padding:5px 32px;
    background:#4F34F3;
    border-radius: 10px;
    color:white;
    font-size: 13px;
    line-height: 16px; 
    cursor: pointer;
    transition: 0.3s ease;
    margin-top:auto;
}

.propozicion__item__link:hover{
    background:#6f59fc;
}

.item__beaty{
    background: linear-gradient(180deg, rgba(255, 24, 204, 0.11) 0%, rgba(255, 255, 255, 0.11) 100%);
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.item__beaty .propozicion__item__menu{
    padding-bottom:57px;
}

.prise__beauty{
    color: #FF18CC;
}

.link__beauty{
    background: #FF18CC;
}

.propozicion__item__link.link__beauty:hover{
    background: #ff68de;
}

.propozicion__row{
    display: flex;
    justify-content: center;
    gap:60px;
    flex-wrap: wrap;
}

.propozicion__item:last-child .propozicion__item__menu{
    padding-bottom:30px;
}

/*Animate*/

.propozicion__item:first-child{
    transform: translate(0,100px);
    opacity: 0;
    transition:0.8s ease;
}

.propozicion__item:first-child._view{
    transform: translate(0,0);
    opacity: 1;
}

.propozicion__item:nth-child(2){
    transform: translate(0,100px);
    opacity: 0;
    transition:0.8s ease 0.2s;
}

.propozicion__item:nth-child(2)._view{
    transform: translate(0,0);
    opacity: 1;
}

.propozicion__item:nth-child(3){
    transform: translate(0,100px);
    opacity: 0;
    transition:0.8s ease 0.4s;
}

.propozicion__item:nth-child(3)._view{
    transform: translate(0,0);
    opacity: 1;
}

@media(max-width:456px){
    .propozicion{
        padding: 25px 0 59px 0;
    }

    .propozicion__title{
        margin-bottom: 53px;
    }
    
    .propozicion__row{
        gap:30px;
    }
}

/****************FOOTER**************/

.footer{
    padding: 20px 0 30px 0;
}

.footer__copyright{
    font-size: 12px;
    line-height: 16px;
}

.footer__name{
    font-size: 12px;
    line-height: 16px;
    order:2;
}

.footer__name span{
    color:#FF18CC;
}

.footer__social{
    display: flex;
    align-items:center;
    justify-content: center;
    gap:20px;
}

.footer__social a:hover{
    filter: drop-shadow(0px 0px 1px rgb(255, 29, 255));
}

.footer__row{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:15px;
    flex-wrap: wrap;
}

@media(max-width:519px){
    .footer__row{
        justify-content: center;
        flex-direction: column;
    }
}


/*********************POPUP***********************/









